html::before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('/kipri-pattern.svg');
  background-repeat: repeat;
  background-size: 200px auto;
  opacity: 0.15;
  pointer-events: none;
  z-index: -1;
}
