.app-wrapper {
  min-height: 100vh;
  background-color: rgba(241, 245, 249, 0.90);
  background-image: url('/kipri-pattern.svg');
  background-repeat: repeat;
  background-size: 240px auto;
  background-attachment: fixed;
}
